.pictures {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.picture {
  flex: 0 0 293px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 293px;
  height: 293px;
  background-color: mistyrose;
}
